* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Albert Sans', Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #ffffffe5; /* Redefinindo a cor de fundo para um tom de vermelho */
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 100px; /* Ajustando o tamanho do logo */
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 15px;
    padding: 10px 20px;
    color: #000000;
    font-weight: bold;
}

nav ul li a {
    color: #000000;
    font-weight: bold;
}

nav ul li:hover {
    background-color: #45454514;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

#recepcao {
    text-align: center;
    padding: 50px 20px;
    background-color: #f7f7f7;
}

.Nome {
    font-size: 3em;
    color: #333;
}

#carrosselImages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    height: auto;
}

#carrosselImages img {
    margin: 0 10px;
}

#carrosselImages img[src="images/Seta_Left.png"],
#carrosselImages img[src="images/Seta.png"] {
    width: 30px; /* Diminuindo o tamanho das setas */
    height: auto;
}

footer {
    background-color: #0f0f0fdc;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer img#logo {
    width: 75px;
}

footer span {
    display: block;
    margin: 4px;
}

footer #redes_sociais {
    margin: 10px 0;
    text-align: center;
}

footer #redes_sociais a img {
    width: 30px;
    margin: 0 5px;
}
